/**
*
* THEME SPECIFIC COMPONENTS
*
*/
header {
  background-color: $color-primary;
  text-transform: uppercase;
  text-align: center;
  padding: 7rem 0;
  h1 {
    color: $color-grey-light;
    font-weight: 300;
    letter-spacing: .2rem;
  }
  @media only screen and (max-width: $small) {
    margin-top: 0;
  }
}

.section-heading {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

.target-link {
  padding: .5rem 0;
  text-transform: uppercase;
  color: $color-grey-dark;
}

.sidebar {
  h3 {
    padding-top: 2rem;
  }
}

.sidebar--fixed {
  position: fixed;
  top: 0;
  max-width: 235px;
}

.content--fixed {
  margin-left: 25%;
  @media only screen and (max-width: $small) {
    margin-left: 0;
  }
}

.sidebar--active {
  color: $color-secondary;
}

.mobile-toggle {
  display: none;
}

ul {
  list-style: none;
}

.example__heading {
  text-transform: uppercase;
  font-weight: 300;
}

.example__col {
    background: $color-secondary;
    color: $color-grey-light;
    padding: 1.5rem 1rem;

    &--no-margin {
      border: $borders;
      padding: 1.5rem 0;
    }

    &--margin {
      margin: .5rem 0;
    }
}

.test-col {
  padding: 1.5rem;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
  margin: 1.5rem 0;
}

footer {
  margin-top: 3rem;
  padding: 2.5rem 0;
  // border-top: 1px solid $color-tertiary;
  background-color: $color-tertiary;
}

@media only screen and (max-width: $small) {
  .sidebar {
    position: fixed;
    top: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    background-color: $color-tertiary;
    max-width: 100%;
    transition: all .3s;
  }

  .mobile-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all .4s ease-out;

    &__hamburger {
      left: 8px;
    }

    &__hamburger,
    &__hamburger::before,
    &__hamburger::after {
      position: absolute;
      content: "";
      width: 28px;
      height: 2.5px;
      background: $color-grey-light;
      border-radius: 20px;
      transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    }

    &__hamburger::before {
      top: -8px;
    }
    &__hamburger::after {
      top: 8px;
    }
  }

  .open-animate {
    animation: openAnimateMobile .7s ease;
  }

  .close-animate {
    animation: closeAnimateMobile .7s ease;
  }

  .mobile-toggle--scrolled {
    background-color: $color-primary;
    box-shadow: 0 1px 3px $color-grey-dark;
  }

  .mobile-toggle--active {
    background: $color-grey-light;
    box-shadow: none;
  }
  
  .mobile-toggle--active > .mobile-toggle__hamburger {
    background-color: transparent;
  }

  .mobile-toggle--active > .mobile-toggle__hamburger::before {
    top: 0;
    transform: rotate(45deg);
    background: $color-grey-dark;
  }

  .mobile-toggle--active > .mobile-toggle__hamburger::after {
    top: 0;
    transform: rotate(-45deg);
    background: $color-grey-dark;
  }

  .sidebar-mobile--active {
    visibility: initial;
    opacity: 1;
  }
}

@keyframes openAnimateMobile {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes closeAnimateMobile {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}