/**
*
* THEME SPECIFIC COMPONENTS
*
*/
header {
  background-color: $color-primary;
  text-align: center;
  padding: 5rem;
  margin-top: 5rem;
  border-radius: .5rem;
}

// Gutenberg styles
.wp-block-image figure {
    margin-top: 2rem;
  }
  
  @media (max-width: 650px) {
    .wp-block-image .alignright {
      float: none;
      margin: 0;
      img {
        width: 100%;
        height: auto;
      }
    }
  }