/**
*
* THEME SPECIFIC COMPONENTS
*
*/
header {
  background-color: $color-primary;
  text-align: center;
  padding: 5rem;
  margin-top: 5rem;
  border-radius: .5rem;
}

.sidebar--fixed {
  position: fixed;
  top: 0;
}

.content--fixed {
  margin-left: 235px;
  @media only screen and (max-width: $small) {
    margin-left: 0;
  }
}

.sidebar--active {
  color: red;
}

.mobile-toggle {
  display: none;
}

ul {
  list-style: none;
}

@media only screen and (max-width: $small) {
  .sidebar {
    display: none;
    position: fixed;
    top: 0;
    background-color: green;
    width: 100%;
  }

  .mobile-toggle {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: orange;
    padding: 2.5rem;
  }

  .sidebar-mobile--active {
    display: block;
  }
}

// Gutenberg styles
.wp-block-image figure {
    margin-top: 2rem;
  }
  
  @media (max-width: 650px) {
    .wp-block-image .alignright {
      float: none;
      margin: 0;
      img {
        width: 100%;
        height: auto;
      }
    }
  }